body{
    background-color: #333;
}
p{
    color: #FFFFFF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #333;
  }
  img{
      height: 30px;
      width: 30px;
  }
  .categorias {
      text-align: center;
      margin-top: 40px;
  }
  .inp{
    margin-top: 10px;
  }
h2{
  color:white;
}
.w3-input{padding:5px;border:none;border-bottom:1px solid #ccc;width:50%}
